/* Mengatur tampilan dasar body */

/* untuk tampilan Dekstop */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0f0f0f;
  font-family: Arial, sans-serif;
  color: #e8eaed;
}
/* Header Utama yang menyusun bagian atas */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.left-section {
  display: flex;
  align-items: center;
  gap: 30px;
}
.google-logo img {
  width: 100px;
}

.search-bar {
  background-color: #303134;
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 10px 16px;
  width: 600px;
}
.search-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #e8eaed;
  font-size: 16px;
}
.icon {
  color: #9aa0a6;
  margin-left: 15px;
  coursor: pointer;
}
.icon:hover {
  color: #e8eaed;
}
.right-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.circle-icon {
  background-color: #d93025;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}
.menu-bar {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  padding-left: 153px;
  font-size: 14px;
}
.menu-bar span {
  color: #9aa0a6;
  cursor: pointer;
}

.menu-bar span:hover {
  color: #8ab4f8;
}
.menu-bar .active {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}
.menu-divider-double {
  margin-top: 10px;
  border-top: 1px solid #3c4043;
  border-bottom: 1px solid #202124;
  height: 2px;
  width: 100%;
}
.container {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 60px;
}
.main-content {
  flex: 2;
  min-width: 600px;
}
.search-divider {
  border-bottom: 1px solid #3c4043;
  margin: 20px 0;
}

.about-box {
  flex: 1;
  min-width: 300px;
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 20px;
  height: fit-content;
}
.about-box h2 {
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 1px solid #3c4043;
  padding-bottom: 10px;
}
.about-box .deskripsi {
  margin-top: 10px;
  font-size: 14px;
  color: #bdc1c6;
  margin-bottom: 20px;
  text-align: justify;
}
.search-result {
  margin-bottom: 25px;
}
a {
  color: #8ab4f8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.search-result a .title:hover {
  font-size: 20px;
  color: #8ab4f8;
  text-decoration: none;
}
.search-result .link {
  font-size: 13px;
  color: #9aa0a6;
}
.search-result .snippet {
  font-size: 13px;
  color: #bdc1c6;
  margin-top: 5px;
}
.result-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #8b949e;
  margin-bottom: 4px;
}
.title-name {
  font-size: 16px;
  color: #e8eaed;
  font-weight: bold;
}
.title {
  font-size: 24px;
}

.fa-github {
  color: white;
  font-size: 19px;
  background-color: #24292e;
  border-radius: 50%;
  padding: 6px;
}
.fa-whatsapp {
  color: #25d366;
  font-size: 19px;
  background-color: #24292e;
  border-radius: 50%;
  padding: 6px;
}
.fa-envelope {
  color: #d93025;
  font-size: 19px;
  background-color: #24292e;
  border-radius: 50%;
  padding: 6px;
}
.fa-diagram-project{
  color:rgb(67, 133, 54);
  font-size: 19px;
  background-color: #24292e;
  border-radius: 50%;
  padding: 6px;
}
.info-item {
  margin-bottom: 12px;
}

.info-item span {
  font-size: 13px;
  color: #9aa0a6;
}

.info-item strong {
  color: #e8eaed;
}

img {
  width: 30%;
  height: 30%;
  border-radius: 8px;
}

/* untuk tampilan Mobile */
@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #0f0f0f;
    font-family: Arial, sans-serif;
    color: #e8eaed;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }
  .left-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .google-logo img {
    width: 100px;
  }

  .search-bar {
    background-color: #303134;
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 10px 10px;
    width: 250px;
  }
  .search-input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #e8eaed;
    font-size: 16px;
  }
  .icon {
    color: #9aa0a6;
    margin-left: 0px;
    coursor: pointer;
  }
  .icon:hover {
    color: #e8eaed;
  }
  .right-icons {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .circle-icon {
    background-color: #d93025;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
  }
  .menu-bar {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding-left: 153px;
    font-size: 14px;
  }
  .menu-bar span {
    color: #9aa0a6;
    cursor: pointer;
  }

  .menu-bar span:hover {
    color: #8ab4f8;
  }
  .menu-bar .active {
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
  }
  .menu-divider-double {
    margin-top: 10px;
    border-top: 1px solid #3c4043;
    border-bottom: 1px solid #202124;
    height: 2px;
    width: 100%;
  }
  .container {
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px;
  }
  .main-content {
    flex: 2;
    min-width: 600px;
  }
  .search-divider {
    border-bottom: 1px solid #3c4043;
    margin: 20px 0;
  }

  .about-box {
    flex: 1;
    min-width: 300px;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    height: fit-content;
  }
  .about-box h2 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid #3c4043;
    padding-bottom: 10px;
  }
  .about-box .deskripsi {
    margin-top: 10px;
    font-size: 14px;
    color: #bdc1c6;
    margin-bottom: 20px;
    text-align: justify;
  }
  .search-result {
    margin-bottom: 25px;
  }
  a {
    color: #8ab4f8;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .search-result a .title:hover {
    font-size: 20px;
    color: #8ab4f8;
    text-decoration: none;
  }
  .search-result .link {
    font-size: 13px;
    color: #9aa0a6;
  }
  .search-result .snippet {
    font-size: 13px;
    color: #bdc1c6;
    margin-top: 5px;
  }
  .result-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #8b949e;
    margin-bottom: 4px;
  }
  .title-name {
    font-size: 16px;
    color: #e8eaed;
    font-weight: bold;
  }
  .title {
    font-size: 24px;
  }

  .fa-github {
    color: white;
    font-size: 19px;
    background-color: #24292e;
    border-radius: 50%;
    padding: 6px;
  }
  .fa-whatsapp {
    color: #25d366;
    font-size: 19px;
    background-color: #24292e;
    border-radius: 50%;
    padding: 6px;
  }
  .fa-envelope {
    color: #d93025;
    font-size: 19px;
    background-color: #24292e;
    border-radius: 50%;
    padding: 6px;
  }
  .info-item {
    margin-bottom: 12px;
  }

  .info-item span {
    font-size: 13px;
    color: #9aa0a6;
  }

  .info-item strong {
    color: #e8eaed;
  }

  img {
    width: 30%;
    height: 30%;
    border-radius: 8px;
  }
}
/* akhir */
