/* Mengatur tampilan dasar body */

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  font-family: Arial, sans-serif;
  color: #e8eaed;
}
/* Header Utama yang menyusun bagian atas */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.left-section {
  display: flex;
  align-items: center;
  gap: 30px;
}
.google-logo img {
  width: 80px;
}

.search-bar {
  background-color: #303134;
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 10px 16px;
  width: 600px;
}
.search-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #e8eaed;
  font-size: 16px;
}
.icon {
  color: #9aa0a6;
  margin-left: 15px;
  coursor: pointer;
}
.icon:hover {
  color: #e8eaed;
}
.right-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.circle-icon {
  background-color: #d93025;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}
.menu-bar {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  padding-left: 153px;
  font-size: 14px;
}
.menu-bar span {
  color: #9aa0a6;
  cursor: pointer;
}

.menu-bar span:hover {
  color: #8ab4f8;
}
.menu-bar .active {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}
.menu-divider-double {
  margin-top: 10px;
  border-top: 1px solid #3c4043;
  border-bottom: 1px solid #202124;
  height: 2px;
  width: 100%;
  box-sizing: border-box;
}
.content {
  margin: 20px 40px;
}
